{{ block "admin_panel" . }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <link rel="stylesheet" href="admin_panel.css">
        <title>Index</title>
    </head>
    <body>
    <div class="header">
        <a>Cool admin panel</a>
    </div>
    <div class="sidebar">
        <a class="notActive" href="/admin_home">Home</a>
        <a class="notActive" href="/articles">Articles</a>
        <a class="notActive" href="/topics">Topics</a>
        <a class="notActive" href="/users">Users</a>
    </div>
    <script type="text/javascript">
        let selectedButton = document.querySelector('[href=\\'+window.location.pathname+']');
        selectedButton.setAttribute('class', 'active');
    </script>
    <div class="content">
        {{ if eq .Type "articles" }}
            {{ template "articles" . }}
        {{ else if eq .Type "topics" }}
            {{ template "topics" . }}
        {{ else if eq .Type "users" }}
            {{ template "users" . }}
        {{ else }}
            {{ template "admin_home" . }}
        {{ end }}
    </div>
    </body>
    </html>
{{ end }}
