{{ block "articles" . }}
    <table>
        <caption>Articles list:</caption>
        <thead>
        <tr>
            <td>Title</td>
            <td>Topic</td>
            <td>Created</td>
            <td>Updated</td>
            <td>Author</td>
            <td>Published</td>
        </tr>
        </thead>
        <tbody>
        {{ range .Content }}
            <tr>
                <td>
                    {{ .Title }}
                </td>
                <td>
                    {{ .Topic }}
                </td>
                <td>
                    {{ .Created }}
                </td>
                <td>
                    {{ .Updated }}
                </td>
                <td>
                    {{ .Author }}
                </td>
                <td>
                    {{ .Published }}
                </td>
            </tr>
        {{ end }}
        </tbody>
    </table>
{{ end }}
