{{ block "topics" . }}
    <table>
        <caption>Topics list:</caption>
        <thead>
        <tr>
            <td>Name</td>
            <td>Created</td>
            <td>Updated</td>
            <td>Author</td>
        </tr>
        </thead>
        <tbody>
        {{ range .Content }}
            <tr>
                <td>
                    {{ .Name }}
                </td>
                <td>
                    {{ .Created }}
                </td>
                <td>
                    {{ .Updated }}
                </td>
                <td>
                    {{ .Author }}
                </td>
            </tr>
        {{ end }}
        </tbody>
    </table>
{{ end }}
